# Go related
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Binary files
*/bootstrap
*.zip

# Terraform related
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
*.tfplan

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env
